<div class="jumbotron">
  <div class="container">
    <h1>Welcome to the future of activism</h1>
    <p>Harnessed connects individuals with social movements and organizations that are working to improve society.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Get Started &raquo;</a></p>
  </div>
</div>