<h1>Next Steps:</h1>

<div class="dashboard_container">



	<div class="dashboard_section">
		<h2>1. Create a plan</h2>
		List your skills &amp; interests
	</div>

	<div class="dashboard_section">
		<h2>2. Find your tribe</h2>
		Follow a movement or organization
	</div>

	<div class="dashboard_section">
		<h2>3. Get started</h2>
		Pledge your time
	</div>


</div>








<h1>Outreach</h1>

<ul>
	<li>Follow #Harnessed on Twitter</li>
	<li>Follow #Harnessed on Facebook</li>
</ul>