<div class="jumbotron">
  <div class="container">
    <h1>Harnessed is launching soon</h1>
    <p>Please <a href="https://twitter.com/join_harnessed">follow us</a> on social media for updates. Harnessed is an open source project—if you'd like to get involved, please reach out via social media. We need all the help we can get!</p>
  </div>
</div>