<div class="jumbotron">
  <div class="container">
    <h1>Costs</h1>
	<p>The annual costs associated with running this website:</p>
	<ul>
		<li>Domain name</li>
		<li>Hosting</li>
		<li>SSL</li>
		<li>Github</li>
		<li>Auth0</li>
	</ul>
  </div>
</div>